@tailwind base;
@tailwind components;
@tailwind utilities;

.form-container::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -20%;
  width: 370px;
  height: 400px;
  background: linear-gradient(60deg, transparent, #45f3ff, #45f3ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  z-index: -1;
}

.form-container::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -20%;
  width: 370px;
  height: 400px;
  background: linear-gradient(60deg, transparent, #d9138a, #d9138a);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: 3s;
  z-index: -1;
}

.form-container {
  background: #28292d;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
